body{
  background-color: #111;
  background-image: image-url('bg.png');
  background-repeat: repeat;
}


//
::selection {
  background: #000; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #000; /* Gecko Browsers */
}

// fix for showing admin button text with icons, temporary until we change in theme
.ops-bar-section a {
  span.hide-for-medium-up {
    display: inline !important;
  }
}
.tooltip {
  display: none !important;
}

/**
 * Hide tooltips on small screens.
 */
@media #{$small-only} {
  .tooltip{
    display:none !important;
  }
}

// canvas yo
#processing {
  position: fixed;
  pointer-events: none;
}

div.warning, table tr.warning {
  background: #535b99;
  border: 0;
  color: $dkgray;
}

// table styling
table {
  border-color: darken($dkgray, 3%);
  thead {
    tr,
    tr:nth-of-type(odd),
    tr:nth-of-type(even) {
      background: darken($dkgray, 3%);
      th {
        color: lighten($text, 25%);
        border: 0;
        font-weight: 400;
        letter-spacing: .08em;
        font-size: rem-calc(11);
        text-transform: uppercase;
      }
    }
  }
  tr td,
  tr th {
    color: $text;
  }
  tr.even,
  tr.odd {
    border-bottom: 0;
  }
  tr.alt,
  tr:nth-of-type(even) {
    background: $dkgray image-url('noise.png') repeat;
  }
  tr.odd,
  tr:nth-of-type(odd) {
    background: darken($dkgray, 2%) image-url('noise.png') repeat;
  }
  tbody {
    border-top: 0;
  }
}

.main-inner{
  background: $dkgray image-url('noise.png') repeat;
  border:1px solid #000;
  box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  margin: 0 4% 1%;
  position: relative;

  a{
    @include transition(all 0.2s ease-in-out 0s);
  }

  #page-title{
    font-size:rem-calc(26);
    font-family:$font_custom;
    margin:0;
    padding:rem-calc(15);
    text-transform: uppercase;
    font-weight:400;
    color:#111;
    background: rgb(234,222,0); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(234,222,0,1) 2%, rgba(255,241,0,1) 87%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,rgba(234,222,0,1)), color-stop(87%,rgba(255,241,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(234,222,0,1) 2%,rgba(255,241,0,1) 87%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(234,222,0,1) 2%,rgba(255,241,0,1) 87%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(234,222,0,1) 2%,rgba(255,241,0,1) 87%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(234,222,0,1) 2%,rgba(255,241,0,1) 87%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eade00', endColorstr='#fff100',GradientType=0 ); /* IE6-9 */
    letter-spacing: .06em;
    border-bottom:1px solid #333;

    em{
      font-weight:400;
      font-style: normal;
    }

    i{
      font-weight:normal;
    }
  }

  .main-content{
    background: image-url("noise.png") repeat;
    padding:rem-calc(15);

    table{
      width:100%;
      border: 2px solid darken($dkgray, 3%);

      thead {
        background: none repeat scroll 0 0 #000;
      }

      tbody {
        border-top: 0;
      }

      th{
        font-size:rem-calc(13);
        font-weight:400;
        text-transform: uppercase;
        color:#7f7f7f;
        border: 0;
      }

      td.ctools-export-ui-operations{
        white-space: nowrap;

        ul.inline-list > li{
          display:inline-block;
          float:none;
        }
      }

      td.views-field-field-published {
        font-style: italic;
      }

      tr.odd,
      tr.even{
        @include transition(all 0.2s ease-in-out 0s);
        border-bottom: 2px solid darken($dkgray, 3%);
        background: $dkgray image-url('noise.png') repeat;

        &:hover{
          background: darken($dkgray, 3%);
          td{
            background:none;
          }
        }
      }

      tr.odd {
        .active{
          background: scale-color($table-bg, $lightness: -2%);
        }
        &:hover{
          td.active{
            background: scale-color(#fffbe7, $lightness: -3%);
          }
        }
      }

      tr.even,
      tr.alt,
      tr:nth-of-type(even) {
        .active{
          background: scale-color($table-even-row-bg, $lightness: -2%);
        }
        &:hover{
          td.active{
            background: scale-color(#fff7dc, $lightness: -2%);
          }
        }
      }

      // select,
      // input{
      //   width:auto;
      //   margin:0;
      // }

      ul.inline-list{
        margin:rem-calc(8 0);
        line-height: inherit;
        font-size: inherit;
      }
    }
  }
}
.front {
  .page {
    display: block;
    float: none;
    margin: 0 auto;
    max-width: 620px;
    position: relative;

    .main-inner {
      margin: 1% 0 5%;
      max-width: 620px;
    }
  }
}
.front.logged-in {
  .page {
    display: block;
    float: none;
    margin: 0 4% 1%;
    max-width: 100%;
    position: relative;

    .main-inner {
      margin: 1% 0 5%;
      max-width: 100%;

      .block-views-mindmap-elements-block-5,
      .block-views-mindmap-elements-block-6 {
        display: block;
        position: relative;
        float: left;
        width: 50%;
        padding: 0 1% 0 0;
      }
      .block-views-mindmap-elements-block-6 {
        padding: 0 0 0 1%;
      }
    }
  }
}

.description{
  font-size: rem-calc(11);
  color: $text;
  @media (-webkit-min-device-pixel-ratio: 1.5), 
    (min-resolution: 144dpi) { 
    font-size: rem-calc(12);
  }
}

.breadcrumbs{
  background: #000;
  border-color: $dkgray;
  margin:rem-calc(10 0 0);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
}

.action-links{
  list-style-type: none;
  margin:0;

  li{
    padding:rem-calc(0 5 0 0);
    display:inline-block;
  }
}

.row .admin-page{
  margin:rem-calc(0 0 -20);
}

.node-type-list,
.admin-list{
  margin-top: rem-calc(-6);
  margin-bottom: rem-calc(-6);

  > li {
    padding: rem-calc(6);
  }

  .panel{
    margin:0;
    @include transition(all 0.2s ease-in-out 0s);

    &:hover{
      background:#fff;
    }
  }

  a{
    color: $primary-color;
    background: darken($dkgray, 2%);
    border: 1px solid lighten($dkgray, 3%);
    padding: rem-calc(0 20 20);
    display:block;
    @include transition(all 0.2s ease-in-out 0s);
    overflow:hidden;

    &:hover{
      background: darken($dkgray, 4%);
      border-color: lighten($dkgray, 5%);

      .icon{
        color:$primary-color;
      }
    }

    & > span{
      display:block;
    }
  }

  .icon{
    font-size:rem-calc(65);
    text-align: center;
    color:#404040;
    @include transition(all 0.2s ease-in-out 0s);

    span{
      display:none !important;
    }
  }

  .title{
    font-size:rem-calc(18);
    font-weight:600;
    color: lighten($text, 25%);
    text-align: center;
  }

  &.cols-2{
    .icon{
      font-size:rem-calc(45);
    }
    .title{
      font-size:rem-calc(14);
    }
  }
}

.page-admin-structure .admin-list {
  margin-top: rem-calc(-6);
  margin-bottom: rem-calc(-6);
  > li {
    padding: rem-calc(6);
  }
}

.exposed-filters{

  .additional-filters{
    font-weight:700;
  }

  .current-filters{
    color:$warning-color;
    font-size:rem-calc(15);
    list-style-type: none;

    li{
      display:inline;
      margin:0;
      padding:0;
    }
  }

  .additional-filters,
  .filters label{
    display:block;
    width:auto;
    color:#6e6e6e;
    text-transform: uppercase;
    line-height:rem-calc(36);
    padding-right:rem-calc(5);
    font-family:$font_custom;
    font-size:rem-calc(12);
  }

  .filters{
    width:auto;

    .form-item{
      display:inline-block;
      padding-right:rem-calc(10);
    }

    select,
    input{
      width:auto;
      margin:0;
    }
  }
}

.container-inline{
  @include clearfix();
  margin-bottom:rem-calc(20);

  > .fieldset-wrapper{
    padding-top:0;

    > *{
      float:left;
    }
  }


  > *{
    float:left;
  }

  *{
    margin:0;
    padding:0;
  }
}

.alert-box{
  margin: 0 0 1rem;
  text-align: center;
  font-size: 20px;
  text-shadow: 0 0 5px #015C1F;
  color: #fff;
  border-radius: 33px;
  box-shadow: 0 1px 10px #000;

  ul{
    margin:0;
    padding:0;

    li{
      font-size: 0.9125rem;
    }
  }

  &.success{
    border: 5px solid #016E25;
    background-color: #04A63A;
    a{
      color:#6f8c64;
    }
  }

  &.warning{
    border:1px solid #e9cdbb;
    background:#ffe9db;
    color:#615042;
    a{
      color:#8c5e40;
    }
  }

  &.alert{
    border: 5px solid #AD0900;
    background-color: #ED3023;
    text-shadow: 0 0 5px #AD0900;
    a{
      color:#8c5251;
    }
  }
}

.admin-list{
  dt{
    margin:0;
  }

  dd{
    font-size:rem-calc(14);
    color:#7f7f7f;
  }
}

.block-system-help{
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
  margin-top:rem-calc(10);
  padding:rem-calc(15);
  border:1px solid #e9e9cf;
  background:#fffbe7;

  p{
    font-size:rem-calc(14);
    color:#616059;
    margin-bottom:rem-calc(8);

    a{
      color:#8c7b5c;

      &:hover{
        color:#c29c36;
      }
    }
  }

  p:last-child{
    margin-bottom:0;
  }
}

#copyright{
  float: none;
  margin: 0 auto;
  text-align: right;
  width: 91%;

  small{
    font-family:$font_custom;
    font-weight:200;
    font-size:rem-calc(14);
    color:#bfbfbf;
    margin: 0;
    padding: 10px 20px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 3px;

    a{
      color:#0a96c3;
      font-weight:200;
      font-size:rem-calc(16);

      &:hover{
        color:#28b7e4;
      }
    }
  }
}
.front {
  #copyright {
    width: 100%;
  }
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

// lets make valet sexy
#valet {
  background: $dkgray;
}
#valet-search {
  background: #000;
  border-color: #333;
  color: $primary-color;
  font-family: 'Droid Sans', helvetica, arial, sans-serif;
  font-size: 26px;
  &:focus {
    box-shadow: none;
    border-color: #444;
  }
}
#valet-results .ui-autocomplete {
  background: #000;
  li {
    border-color: #333;
    a.ui-state-hover,
    a.ui-state-active,
    a.ui-state-focus {
      background: $primary-color;
      color: #000;
      text-shadow: none;
      border-color: #fff100;
      em {
        color: #444;
      }
    }
  }
}
#valet-submit {
  background: image-url('valet-submit.png');
  width: 60px;
  height: 60px;
  right: 18px;
  top: 18px;
}

#logo {
  position: absolute;
  right: rem-calc(15);
  top: rem-calc(10);
  text-align: left;
  width: 100%;
  padding-left: rem-calc(15);
  max-width: 200px;
  a {
    display: block;
  }
}

.page {
  padding-top: 80px;
}

////////////////////////////////////////////////////////////////////////////////
// eXo
////////////////////////////////////////////////////////////////////////////////

html.exo-exists #exo-page{
  background: $body-bg;
}

