.view-mindmap-elements {

	#edit-select {

		legend {}

	}

	.views-field-title {

		p {
			margin: 0;
		}

	}

	.views-field-field-icon {
		display: block;
		position: relative;

		img {
			z-index: 10;
			display: block;
			position: absolute;
			margin: 5px auto 0;
			left: 21px;
		}

		.color {
			position: relative;
			display: block;
			z-index: 0;
		}

	}

}