body {
	font-family: 'Droid Sans', helvetica, arial, sans-serif;
	font-weight: 400;
	color: $text;
}

h1, h2, h3, h4, h5 {
	font-family: 'Ropa Sans', helvetica, arial, sans-serif;
	font-weight: 400;
	color: #fff;
}

h3 {
	letter-spacing: .1em;
	font-size: rem-calc(20);
	text-transform: uppercase;
	margin-bottom: rem-calc(3);
}