body {
	font-family: 'Droid Sans', helvetica, arial, sans-serif;
	font-weight: 400;
	color: $text;
	font-size: rem-calc(15);
}

h1, h2, h3, h4, h5 {
	font-family: 'Ropa Sans', helvetica, arial, sans-serif;
	font-weight: 400;
	color: #fff;
}

h3 {
	letter-spacing: .1em;
	font-size: rem-calc(18);
	text-transform: uppercase;
	margin-bottom: rem-calc(3);
}


p {
	font-size: rem-calc(15);
}

ul, ol, dl {
	font-size: rem-calc(15);
}


@media #{$medium-up} {
	html {
		font-size: 100%;
	}
}

@media 
(-webkit-min-device-pixel-ratio: 1.25), 
(min-resolution: 120dpi){ 
	html {
		font-size: 115%;
	}
}